
# Local PostgreSQL
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME
#POSTGRES_USER=postgresuser
#POSTGRES_PASSWORD=mysecretpass

# General settings
# DJANGO_READ_DOT_ENV_FILE should not be in .env.  It is a switch in the base config settings to determine if this
# file should be read in
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=\"981798hlksdf9ypq45w354242145234qjk;hdqwa908u\"
DJANGO_ALLOWED_HOSTS=something.herokuapp.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_PREFIX=something
DJANGO_AWS_STORAGE_BUCKET_NAME=something-prod

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry (found in sentry.io documentation which is live) NOTE THE DOUBLE QUOTES.
# There seesm to be a ref to a smaller version - this one shows stars and you only get on copy and paste.
DJANGO_SENTRY_DSN="https://8e3488923060bc78ffcd28f78e08653b:78207417234b5e8f6406be99b87884ad@sentry.io/123456"

# Django Superuser (only used in fabric setup file NOT in remote environment)
SUPERUSER_NAME=name
SUPERUSER_EMAIL=name@org
SUPERUSER_PASSWORD=very_secret

# Heroku Api
HEROKU_PREFIX=eg-bene
HEROKU_API_KEY=a-secret

# Xero Api
XERO_CONSUMER_SECRET="ASecret"
XERO_CONSUMER_KEY="AKey"
