{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1>Syncing Bene to Xero</h1>
    <p>Customised with product database for {{ company }}. Version {{ version }}.
    <br/>Last updated: {{ last_updated }}
    </p>
    <p>Click on this button to authorise bene to get data from Xero.  Note this may take several minutes to update.
    You can check on progress by using the 'How much data' Explorer report.</p>
    <p>
        <a href="{{ authorization_url }}?report={% url 'xeroapp:dbupdate' %}"><img
                 src="{% static 'images/get_data.png' %}"></a>
    </p>
{% endblock content %}
